.release_date {
    border: 1px solid black;
    width: 30px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_title {
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.info_genres {
    font-size: 12px;
}